/* ====================
      GLOBAL RULES
======================= */
:root {
    --primary: #2eb0ba;
}
* {
    box-sizing: border-box;
}

/* ====================
       HEADER
======================= */
.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    margin: auto;
    padding: 10px 0;
    border-bottom: 1px solid pink;
}
.Header img {
    height: 40px;
}
.Header button {
    height: 30px;
    width: 115px;
    border: 1px solid #2cb1ba;
    border-radius: 5px;
    font-family: "Maison Neue";
    font-size: 12px;
    outline: none;
    color: var(--primary);
    background: white;
    cursor: pointer;
}
.Header div button:first-child {
    background: pink;
    margin-right: 20px;
}
.Header > button {
    color: white;
    background: var(--primary);
}
/* ====================
       Home
======================= */

.Home img {
    height: 455px;
    width: 100%;
    position: relative;
    object-fit: cover;
    object-position: center;
}

.home-txt {
    height: 220px;
    width: 360px;
    background: white;
    padding: 25px;
    border-radius: 3px;
    font-size: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 75px;
    box-shadow: 0 0 2px rgb(17 17 17 / 24%);
}

.home-txt button {
    height: 45px;
    width: 187px;
    background-color: var(--primary);
    border-radius: 4px;
    color: white;
    font-size: 16px;
    border: none;
    padding: 0 14px;
    margin-top: 32px;
}
