/* ====================
      GLOBAL RULES
======================= */
@import "./assets/fonts/stylesheet.css";
:root {
    --primary: #2eb0ba;
    --grey: #999999;
}
* {
    box-sizing: border-box;
    font-family: "Font";
}

/* ====================
       HEADER
======================= */
.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    margin: auto;
    padding: 10px 0;
}
.Header img {
    height: 40px;
    cursor: pointer;
}
.Header button {
    height: 30px;
    width: 115px;
    border: 1px solid #2cb1ba;
    border-radius: 5px;
    font-size: 12px;
    outline: none;
    color: var(--primary);
    background: white;
    cursor: pointer;
    font-family: "Font-Med";
}
.Header div button:first-child {
    margin-right: 20px;
}
.Header > button {
    color: white;
    background: var(--primary);
}
/* ====================
       Home
======================= */

/* background image */
.home-bg {
    background-image: url(./assets/images/hero.jpg);
    height: 455px;
    width: 100%;
    position: relative;
    background-position: 50%;
    background-size: cover;
}
.home-bg > div {
    width: 1280px;
    height: 0;
    margin: auto;
}
.home-txt {
    box-sizing: initial;
    height: 220px;
    width: 360px;
    background: white;
    padding: 25px;
    border-radius: 3px;
    font-size: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 75px;
    box-shadow: 0 0 2px rgb(17 17 17 / 24%);
}

.home-txt button {
    height: 45px;
    width: 187px;
    background-color: var(--primary);
    border-radius: 4px;
    color: white;
    font-size: 16px;
    border: none;
    padding: 0 14px;
    margin-top: 32px;
}
.home-tear {
    position: absolute;
    bottom: 0;
}

/* products */
.products {
    width: 1280px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.product-owner {
    display: flex;
    align-items: center;
    padding: 10px;
}
.product-owner > span {
    color: var(--grey);
}
.product-owner-avatar img {
    height: 25px;
    width: 25px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-right: 10px;
}
.product-img img {
    width: 235px;
    height: 365px;
}

.product {
    margin: 0 auto 30px auto;
}
.product-link {
    color: black;
    text-decoration: none;
}

.product-details {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 12px;
    color: var(--grey);
    padding: 0 6px 16px 0;
}
.product-details span:first-child {
    color: black;
    font-size: 14px;
    margin-top: 16px;
}
